.grid-container{
  display: grid;
  top: 50px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.box{
  background-color: beige;
  text-align: center;
  line-height: calc(500px / 3);
  border: 5px solid black;
  height: calc(500px / 3);
  width: calc(500px / 3);
}

.box:hover{
  background-color: aquamarine;
}